
<div class="login-wrapper">
    <h2>Přihlášení</h2>
    <hr>
    <form n:name="adminForm">
        <!-- Ten <label> tam být nemusí, jde čistě jen o využití Nette forms -->
        <label n:name="user">E-mail:</label>
        <input class="item" n:name="user"><br>
        <label n:name="user">Heslo:</label>
        <input class="item" n:name="password"><br>
        <input class="submit" n:name="submit">
    </form>
</div>

