{* This is the welcome page, you can delete it *}

{block content}
    <header id="myCarousel" class="carousel slide" role="banner">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {foreach $titlePhotos as $titlePhoto}
                <li data-target="#myCarousel" data-slide-to="{$iterator->getCounter()-1}" {first}class="active"{/first}></li>
            {/foreach}

        </ol>
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item {first}active{/first}" n:foreach="$titlePhotos as $titlePhoto">
                <img src="{$basePath}/www/titlePhotos/{$titlePhoto->getName()}">
                <div class="carousel-caption">
                    {var $title = $titlePhoto->getTitle()? $titlePhoto->getTitle(): "BEZ POPISKU"}
                    <p class="blue-heading">{$title}</p>
                    <p class="white-heading">Tomáš Dvořák architekti s.r.o.</p>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
<div id="container" role="main">
    <nav class="navigation" role="navigation">
        <h1>Tomáš Dvořák architekti s.r.o</h1>
            <ul>
                <li><a class="navo" href="#reference">Reference</a></li>
                <li><a class="navo" href="#atelier">Architekti</a></li>
                <li><a class="navo" href="#contact">Kontakt</a></li>
            </ul>
    </nav>
    <div id="aboutus">
        <h2>Proč stavět s námi?</h2>
        <section class="content">
            <p>
                Ve stavebnictví pracuji od roku 1998, samostatně navrhujeme a realizujeme stavby od roku 2003.
                Nabízíme komplexní řešení na základě reálných zkušeností z postavených staveb.
                Nabízíme kreativní, moderní řešení a osobní přístup.
                Zajišťujeme projekční cyklus od studie po projekty pro provedení stavby.
                Zajišťujeme realizační cyklus, ve variantě generálního zhotovitele prací i ve variantě se subdodavateli. Jsme schopní koordinovat stavbu i po částech, na základě jednotlivých tendrů.
                Komplexní řešení pro developery pro nás znamená mimo jiné provedení technicko ekonomické analýzy pozemků, možnosti dalšího rozvoje a využitelnosti, maximální využití pozemků a staveb.
                Komplexní řešení pro nás znamená, že jsme schopní provádět nejen autorský, ale i technický a ekonomický dozor.
                Zajistíme případně i realizaci na klíč a financování stavby.
            </p>
        </section>
    </div>
            <div n:snippet="snipp">
                {if $isAjax}
                    {control gallery $data = $data, $text = $text}
                {/if}
            </div>
    <div id="reference">
        <h2>Reference</h2>
        <section class="content">
            {control imagePanelOrder}
            <div>
                {snippet imagePanel}
                    {control imagePanel}
                {/snippet}
            </div>
        </section>
    </div>
    <div id="atelier">
        <h2>Ateliér</h2>
        <section class="content">
            <article n:foreach="$architects as $architect" class="profile">
                 <img src="{$basePath}/www/images/architects/{$architect->image}_221.jpg" alt="{$architect->name}">
                 <h3>{$architect->name}</h3>
                 <p>{$architect->description}</p>
            </article>
        </section>
    </div>
    <div id="contact">
        <h2>Kontakt</h2>
        <section class="content">
            <article>
                <div class="row">
                    <p class="headingof">{_static.contact.email}</p>
                    <p class="info">{_static.footer.email}</p>
                </div>
                <div class="row">
                    <p class="headingof">{_static.contact.telephone}</p>
                    <p class="info"><a href="tel:774444050">{_static.footer.telephone}</a></p>
                </div>
                <div class="row">
                    <p class="headingof">{_static.contact.address}</p>
                    <p class="info"><a href="https://www.google.cz/maps/place/Rajhradsk%C3%A1+12,+619+00+Brno-jih/@49.161767,16.6007977,17.75z/data=!4m5!3m4!1s0x4712957432ef9147:0xe4556ff3fc9b2602!8m2!3d49.1617131!4d16.6003122?hl=cs" target="_blank">{_static.footer.address}</a></p>
                </div>
            </article>
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5218.113539924733!2d16.595967019330068!3d49.16153066641739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4712957432ef9147%3A0xe4556ff3fc9b2602!2sRajhradsk%C3%A1+12%2C+619+00+Brno-jih!5e0!3m2!1scs!2scz!4v1489917661092" allowfullscreen>
            </iframe>
        </section>
    </div>
</div>
{/block}
