<form class="form" n:name="headerForm">
    <div class="row">
        <div class="left">
            <label n:name="cat_name">Název projektu:</label>
            <input class="box" n:name="cat_name">
        </div>
        <div class="left">
            <label n:name="location">Lokace: </label>
            <input class="box" n:name="location">
        </div>
        <div class="left">
            <label n:name="year">Rok realizace:</label>
            <input class="box" n:name="year">
        </div>
    </div>

    <div class="row">
        <div class="left">
            <label n:name="description">Popisek k projektu(může být stejný jako název): </label>
            <input class="box" n:name="description">
        </div>

        <label class="left upload_ref" n:name="image"><input n:name="image"></label>

    </div>
    <span class="row">
        <p class="note">Poznámka: Používejte fotografie s orientací na šířku.</p>
    </span>
    <label class="padding" n:name="text">Text k projektu: </label>
    <textarea n:name="text"></textarea>
    <div class="row">
        <input class="submit left" n:name="submit">
    </div>


    <!-- { control imageForm $quality = 75, $sizes=[300 => 150, 450 => 200]} -->
</form>