{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Administrace</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/www/css/admin/admin.css">
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{block head}{/block}
</head>
<body>
    <div class="container">
        <div class="menu" role="navigation">
            <article class="heading">
                <h2>Architekt</h2>
                <p>Tomáš Dvořák - administrace</p>
            </article>
            <ul>
                <li><a n:href="Homepage:">Správa referencí</a></li>
                <li><a n:href="Homepage:architects">Správa architektů</a></li>
				<li><a n:href="TitlePhoto:">Správa titulních fotek</a></li>
                <li><a n:href="Logout!">Odhlásit se</a></li>
            <ul>
        </div>
        <div class="content">
         <div n:foreach="$flashes as $flash" n:class="flash-message, flash, $flash->type">{$flash->message}</div>
            {include content}
        </div>
    </div>
	{block scripts}

	<script src="{$basePath}/www/js/main.js"></script>
	<script src="{$basePath}/www/js/nette.ajax.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{$basePath}/www/js/custom.js"></script>
	{/block}
</body>
</html>
