.flash-message{
  width: 700px;
  height: 60px;
  margin-top: 20px;
  padding-left: 35px;
  line-height: 60px;
  border-radius: 2px;
  margin-bottom: -30px;
}
.success{
  border: 1px solid #4cae4c;
  background: rgba(92, 184, 92, 0.26);
  h2{color: #5cb85c;}
}

.info{
  border: 1px solid #2e6da4;
  background: rgba(51, 122, 183, 0.31);
  h2{color: #337ab7;}

}
.warning{
  border: 1px solid #eea236;
  background: rgba(238, 162, 54, 0.5);
  h2{color: #f0ad4e;}
}
.danger{
  border: 1px solid #d43f3a;
  background-color: rgba(212, 63, 58, 0.25);
  h2{ color: #d9534f; }
}