.login-wrapper{
  position: relative;
  top: 32.5%;
  margin: 0 auto;
  width: $logform-width;
  height: $logform-height;
  background-color: $logform-background;
  border: $logform-border;
  border-radius: $logform-border-radius;
  padding: $logform-padding;
  box-shadow: $logform-shadow;
  color: $logform-color;


  h2{
    font-weight: $logform-title-weight;
    font-size: $logform-title-size;
    text-align: center;
    padding: $logform-title-padding;
  }

  hr{
    border: 0;
    margin: 0;
    height: $logform-hr-height;
    background-color: $logform-hr-color;

  }
  form{
    width: inherit;
  }
  label{
    font-size: 0.8em;
    margin: 18px 0 4px 20px;
    display: block;
  }
  input{
    border: $logform-input-border;
    padding-left: 5px;

  }
  .item{
    width: 232px;
    line-height: 2em;
    font-size: 1em;
    margin-left: 20px;
    color: $logform-color;
  }

  .submit{
    display: block;
    margin: 25px auto 6px auto;
    background: none;
    width: 55%;
    height:2.2em;
    font-size: 1.2em;
    color: $logform-button-color;
    border: $logform-button-border;
    border-radius: 3px;
    transition: 750ms;
  }
  .submit:hover{
    background-color: $logform-button-color;
    color: #fff;
  }


}