/*FONT*/
$font: 'Muli', sans-serif; /* NUTNO IMPORTOVAT DO HLAVICKY ODKAZ Z GOOOGLE FONTS :) */



$login-background: url('../../images/admin/pozadi_administrace.jpg');

/*Loginform vlastnosti*/
$logform-width: 280px;
$logform-height: auto;
$logform-background: #fff;
$logform-border: grey;
$logform-border-radius: 2px;
$logform-shadow: 0 8px 16px -4px #212121;
$logform-padding: 0px 0px 8px 0px;

$logform-title-size: 1.6em;
$logform-title-weight: 300;
$logform-color: #474d56;
$logform-title-padding: 18px 0px 18px 0px;

$logform-hr-color: #D3D3D3;
$logform-hr-height: 1px;


$logform-list-padding: 0px 15px 0px 15px;
$logform-input-border: 1px solid #d3d3d3;

$logform-button-color: #3498db;
$logform-button-border: 0.1em solid $logform-button-color;