@import "../reset.css";
@import "_var.scss";
@import "_loginform.scss";
@import "_flashmessage.scss";
@import "_menu.scss";

.green-button{
  border: 1px solid #27ae60;
  margin-top: 12px;
  color: #27ae60 !important;
  display: block;
  min-width: 100px;
  width: auto;
  padding: 0 5px 0 5px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  transition: 300ms;
  background: transparent;
  &:hover{
    border: 1px solid #278645;
    color: #278645;
  }
}

.background{
  background: $login-background no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,body{
  height: 100%;
  font-family: $font;
  width: 100%;
  background-color: #212121;
}

.container{
  width: 100%;
  height: 100%;
  min-height: 909px;
}

.menu{
  width: 18%;
  min-height: 100%;

  height: auto;
  float: left;
  background-color: #212121;

  article.heading{
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #3b3b3b;
    h2, p{
      color: white;
      text-align: left;
      padding-left: 20px;
    }
    h2{
      font-size: 2.6em;
      padding-top: 21px;
    }
    p {
      color: #1d6ed2;
      font-size: 1.05em;
      padding-top: 5px;
    }
  }

  ul{
    width: 100%;
  }
  li{
    border-bottom: 1px solid #3b3b3b;
  }
  li > a{
    font-size: 1.2em;
    line-height: 2.5em;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    transition: 150ms;
  }
  li > a:hover {
    color: #1d6ed2;
  }

}
.content{
  width: 82%;
  min-height: 100%;
  height: auto;
  background-color: white;
  float: right;
  padding-left: 50px;
  box-sizing: border-box;
}

h2.heading{
  font-size: 2.2em;
  margin: 60px 0 20px 0;
  display: block;
}
.box{
  border: 1px solid #d1d1d1;
  margin: 3px 0 10px 0;
  display: block;
  width: 200px;
  line-height: 1.4em;
  font-size: 1.0em;
  padding: 1px 1px 1px 4px;
}

.form{
  label{
    display: block;
    font-size: 1.15em;
  }

  .large-box{
    width: 600px;
    height: 400px;
    display: block;
  }
  .submit{
    @extend .green-button;
  }
  .row{
    width: 800px;
    height:auto;
    overflow: hidden;
  }
  .left{
    float: left;
    display: block;
    margin-right: 15px;

  }
  .right{
    float: right;
  }
  .padding{
    padding: 8px 0 3px 0;
  }
  .upload_ref{
    margin-top: 22px;
    margin-bottom: 12px;
  }
  .photos{
    label{
      display: block;
      margin-bottom: .5em;

    }
  }
  .offset-top{
    margin-top: 1.4em;
  }
}

.images{
  width: 1180px;
  float: left;
  padding-right: 20px;
  height:auto;
  overflow: hidden;
  box-sizing: border-box;
  .projekt{
    width: 300px;
    margin-right: 30px;
    float: left;
    a{
      width: inherit !important;
      height: inherit !important;
    }
    img{
      width: inherit !important;
      height: inherit !important;
    }
  }

  h2{
    font-size: 2.2em;
    margin: 1em 0 0.5em 0;
    width: 300px;
  }
  span.panel{
    display: block;
    padding: 3px 0 4px 0;
    overflow: hidden;
    height: auto;
  }
  a.delete{
    float: right;
    text-decoration: none;
    font-size: 2.0em;
    font-weight: bold;
    color: rgb(239,72,54);
  }
  p.name{
    float: left;
    font-size: 1.3em;
    line-height: 1.6em;

  }
}
/* Architekti */
.note{
  font-size: 0.9em;
  color: #0275d8;
}

.architects{
  width: 843px;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d3d3d3;

  .photo_architects{
    float: left;
  }
  .info_architects{
    float: left;
    width: 600px;
    height: auto;
    margin-left: 20px;
  }
  .upload_architects{
    float: left;
    margin: 3px 0 14px 0;

  }
  .row{
    overflow: hidden;
    display: block;
  }
  p{
    float: left;
    font-size: 1.2em;
    line-height: 1.55em;
    margin-right: 20px;
  }
  .name_architects{
    @extend .box;
  }
  .architects_button{
    text-decoration: none;
    font-size: 1em;

    float: right;
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 10px;
  }
  .submit{
    @extend .green-button;
  }
  .delete{
    padding: 6px 10px 6px 10px;
    border: 1px solid rgba(204, 0, 0, 0.70);
    color: rgba(204, 0, 0, 0.70);
    bottom: 10px;
    left: 10px;
    &:hover{
      border: 1px solid rgba(204, 0, 0, 0.95);
      color: rgba(204, 0, 0, 0.95);
    }
  }
}


.photo-card-wrapper{height: auto; width: 800px;}

.title-photo-card{
  cursor: move;
  width: 240px;
  height: 400px;
  border: 1px solid rgba(145, 145, 145, 0.31);
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;


  img{
    margin: 0 auto;
    display: block;
    width: 220px;
    height: auto;
  }
  .row-icon{
    width: 100%;
    min-height: 50px;
    text-align: right;
    background-color: #f5f5f5;
    margin-bottom: 20px;
  }
  .row-image{
    width: 100%;
    height: 180px;
  }
  .row-description{
    width: 100%;
    padding: 0 10px 0 10px;
    h2{
      line-height: 2em;
      font-weight: bold;
    }
    p{
      color: #0275d8;
    }
  }
  .cross-icon{
    opacity: 0.6;
    width: 24px;
    height: 24px;
    float: right;
    padding-top: 13px;
    padding-right: 10px;
  }
  .delete, .edit{
    display: block;
    width: 220px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    position: absolute;
    transition: 300ms;
  }
  .edit{
    border: 1px solid #27ae60;
    color: #27ae60;
    bottom: 50px;
    left: 10px;
    &:hover{
      border: 1px solid #278645;
      color: #278645;
    }
  }
  .delete{
    border: 1px solid rgba(204, 0, 0, 0.70);
    color: rgba(204, 0, 0, 0.70);
    bottom: 10px;
    left: 10px;
    &:hover{
      border: 1px solid rgba(204, 0, 0, 0.95);
      color: rgba(204, 0, 0, 0.95);
    }
  }
}

.modal-wrapper{
  position: fixed;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
}
.modal{
  overflow: hidden;
  position: relative;
  top: 35%;
  width: 540px;
  margin: 0 auto;
  min-height: 220px;
  height:auto;
  background: white;
  -webkit-box-shadow: 0 4px 28px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 4px 28px 0 rgba(0,0,0,0.75);
  box-shadow: 0 4px 28px 0 rgba(0,0,0,0.75);
  .modal-heading{
    font-size: 1.4em;
    padding: 20px 0 0 15px;
  }
  hr{
    display: block;
    height: 1px;
    border: 0;
    width: 94%;
    border-top: 1px solid rgba(51, 51, 51, 0.32);
  }
  .close {
    position: absolute;
    right: 4px;
    top: 3px;
    width: 24px;
    height: 24px;
    opacity: 0.32;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 12px;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .left, .right{
    width: 50%;
    padding-top: 8px;
  }
  .left{
    float: left;
  }
  .left img{
    width: 86%;
    margin: 0 auto;
    display: block;
  }
  .right{
    float: right;
  }
  .right label{
    font-size: 1.1em;
    color: #0275d8;
    display: block;
    padding-bottom: 6px;
  }
  .right p{
    font-size: 0.7em;
    color: #696969;
    padding-bottom: 6px;
  }
  .right input{
    font-size: 1.0em;
    line-height: 1.4em;
    padding-left: 3px;
    border: 1px solid rgba(0, 0, 0, 0.32);

  }

  .edit {
    @extend .green-button;
  }
}
.hint{
  font-size: 0.9em;
  color: #0275d8;
  padding-bottom: 6px;
}
