@import url(../reset.css);
/*FONT*/
/* NUTNO IMPORTOVAT DO HLAVICKY ODKAZ Z GOOOGLE FONTS :) */
/*Loginform vlastnosti*/
.login-wrapper {
  position: relative;
  top: 32.5%;
  margin: 0 auto;
  width: 280px;
  height: auto;
  background-color: #fff;
  border: grey;
  border-radius: 2px;
  padding: 0px 0px 8px 0px;
  box-shadow: 0 8px 16px -4px #212121;
  color: #474d56; }
  .login-wrapper h2 {
    font-weight: 300;
    font-size: 1.6em;
    text-align: center;
    padding: 18px 0px 18px 0px; }
  .login-wrapper hr {
    border: 0;
    margin: 0;
    height: 1px;
    background-color: #D3D3D3; }
  .login-wrapper form {
    width: inherit; }
  .login-wrapper label {
    font-size: 0.8em;
    margin: 18px 0 4px 20px;
    display: block; }
  .login-wrapper input {
    border: 1px solid #d3d3d3;
    padding-left: 5px; }
  .login-wrapper .item {
    width: 232px;
    line-height: 2em;
    font-size: 1em;
    margin-left: 20px;
    color: #474d56; }
  .login-wrapper .submit {
    display: block;
    margin: 25px auto 6px auto;
    background: none;
    width: 55%;
    height: 2.2em;
    font-size: 1.2em;
    color: #3498db;
    border: 0.1em solid #3498db;
    border-radius: 3px;
    transition: 750ms; }
  .login-wrapper .submit:hover {
    background-color: #3498db;
    color: #fff; }

.flash-message {
  width: 700px;
  height: 60px;
  margin-top: 20px;
  padding-left: 35px;
  line-height: 60px;
  border-radius: 2px;
  margin-bottom: -30px; }

.success {
  border: 1px solid #4cae4c;
  background: rgba(92, 184, 92, 0.26); }
  .success h2 {
    color: #5cb85c; }

.info {
  border: 1px solid #2e6da4;
  background: rgba(51, 122, 183, 0.31); }
  .info h2 {
    color: #337ab7; }

.warning {
  border: 1px solid #eea236;
  background: rgba(238, 162, 54, 0.5); }
  .warning h2 {
    color: #f0ad4e; }

.danger {
  border: 1px solid #d43f3a;
  background-color: rgba(212, 63, 58, 0.25); }
  .danger h2 {
    color: #d9534f; }

.green-button, .form .submit, .architects .submit, .modal .edit {
  border: 1px solid #27ae60;
  margin-top: 12px;
  color: #27ae60 !important;
  display: block;
  min-width: 100px;
  width: auto;
  padding: 0 5px 0 5px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  transition: 300ms;
  background: transparent; }
  .green-button:hover, .form .submit:hover, .architects .submit:hover, .modal .edit:hover {
    border: 1px solid #278645;
    color: #278645; }

.background {
  background: url("../../images/admin/pozadi_administrace.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

html, body {
  height: 100%;
  font-family: "Muli", sans-serif;
  width: 100%;
  background-color: #212121; }

.container {
  width: 100%;
  height: 100%;
  min-height: 909px; }

.menu {
  width: 18%;
  min-height: 100%;
  height: auto;
  float: left;
  background-color: #212121; }
  .menu article.heading {
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #3b3b3b; }
    .menu article.heading h2, .menu article.heading p {
      color: white;
      text-align: left;
      padding-left: 20px; }
    .menu article.heading h2 {
      font-size: 2.6em;
      padding-top: 21px; }
    .menu article.heading p {
      color: #1d6ed2;
      font-size: 1.05em;
      padding-top: 5px; }
  .menu ul {
    width: 100%; }
  .menu li {
    border-bottom: 1px solid #3b3b3b; }
  .menu li > a {
    font-size: 1.2em;
    line-height: 2.5em;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    transition: 150ms; }
  .menu li > a:hover {
    color: #1d6ed2; }

.content {
  width: 82%;
  min-height: 100%;
  height: auto;
  background-color: white;
  float: right;
  padding-left: 50px;
  box-sizing: border-box; }

h2.heading {
  font-size: 2.2em;
  margin: 60px 0 20px 0;
  display: block; }

.box, .architects .name_architects {
  border: 1px solid #d1d1d1;
  margin: 3px 0 10px 0;
  display: block;
  width: 200px;
  line-height: 1.4em;
  font-size: 1.0em;
  padding: 1px 1px 1px 4px; }

.form label {
  display: block;
  font-size: 1.15em; }
.form .large-box {
  width: 600px;
  height: 400px;
  display: block; }
.form .row {
  width: 800px;
  height: auto;
  overflow: hidden; }
.form .left {
  float: left;
  display: block;
  margin-right: 15px; }
.form .right {
  float: right; }
.form .padding {
  padding: 8px 0 3px 0; }
.form .upload_ref {
  margin-top: 22px;
  margin-bottom: 12px; }
.form .photos label {
  display: block;
  margin-bottom: .5em; }
.form .offset-top {
  margin-top: 1.4em; }

.images {
  width: 1180px;
  float: left;
  padding-right: 20px;
  height: auto;
  overflow: hidden;
  box-sizing: border-box; }
  .images .projekt {
    width: 300px;
    margin-right: 30px;
    float: left; }
    .images .projekt a {
      width: inherit !important;
      height: inherit !important; }
    .images .projekt img {
      width: inherit !important;
      height: inherit !important; }
  .images h2 {
    font-size: 2.2em;
    margin: 1em 0 0.5em 0;
    width: 300px; }
  .images span.panel {
    display: block;
    padding: 3px 0 4px 0;
    overflow: hidden;
    height: auto; }
  .images a.delete {
    float: right;
    text-decoration: none;
    font-size: 2.0em;
    font-weight: bold;
    color: #ef4836; }
  .images p.name {
    float: left;
    font-size: 1.3em;
    line-height: 1.6em; }

/* Architekti */
.note {
  font-size: 0.9em;
  color: #0275d8; }

.architects {
  width: 843px;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d3d3d3; }
  .architects .photo_architects {
    float: left; }
  .architects .info_architects {
    float: left;
    width: 600px;
    height: auto;
    margin-left: 20px; }
  .architects .upload_architects {
    float: left;
    margin: 3px 0 14px 0; }
  .architects .row {
    overflow: hidden;
    display: block; }
  .architects p {
    float: left;
    font-size: 1.2em;
    line-height: 1.55em;
    margin-right: 20px; }
  .architects .architects_button {
    text-decoration: none;
    font-size: 1em;
    float: right;
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 10px; }
  .architects .delete {
    padding: 6px 10px 6px 10px;
    border: 1px solid rgba(204, 0, 0, 0.7);
    color: rgba(204, 0, 0, 0.7);
    bottom: 10px;
    left: 10px; }
    .architects .delete:hover {
      border: 1px solid rgba(204, 0, 0, 0.95);
      color: rgba(204, 0, 0, 0.95); }

.photo-card-wrapper {
  height: auto;
  width: 800px; }

.title-photo-card {
  cursor: move;
  width: 240px;
  height: 400px;
  border: 1px solid rgba(145, 145, 145, 0.31);
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative; }
  .title-photo-card img {
    margin: 0 auto;
    display: block;
    width: 220px;
    height: auto; }
  .title-photo-card .row-icon {
    width: 100%;
    min-height: 50px;
    text-align: right;
    background-color: #f5f5f5;
    margin-bottom: 20px; }
  .title-photo-card .row-image {
    width: 100%;
    height: 180px; }
  .title-photo-card .row-description {
    width: 100%;
    padding: 0 10px 0 10px; }
    .title-photo-card .row-description h2 {
      line-height: 2em;
      font-weight: bold; }
    .title-photo-card .row-description p {
      color: #0275d8; }
  .title-photo-card .cross-icon {
    opacity: 0.6;
    width: 24px;
    height: 24px;
    float: right;
    padding-top: 13px;
    padding-right: 10px; }
  .title-photo-card .delete, .title-photo-card .edit {
    display: block;
    width: 220px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    position: absolute;
    transition: 300ms; }
  .title-photo-card .edit {
    border: 1px solid #27ae60;
    color: #27ae60;
    bottom: 50px;
    left: 10px; }
    .title-photo-card .edit:hover {
      border: 1px solid #278645;
      color: #278645; }
  .title-photo-card .delete {
    border: 1px solid rgba(204, 0, 0, 0.7);
    color: rgba(204, 0, 0, 0.7);
    bottom: 10px;
    left: 10px; }
    .title-photo-card .delete:hover {
      border: 1px solid rgba(204, 0, 0, 0.95);
      color: rgba(204, 0, 0, 0.95); }

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999; }

.modal {
  overflow: hidden;
  position: relative;
  top: 35%;
  width: 540px;
  margin: 0 auto;
  min-height: 220px;
  height: auto;
  background: white;
  -webkit-box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 28px 0 rgba(0, 0, 0, 0.75); }
  .modal .modal-heading {
    font-size: 1.4em;
    padding: 20px 0 0 15px; }
  .modal hr {
    display: block;
    height: 1px;
    border: 0;
    width: 94%;
    border-top: 1px solid rgba(51, 51, 51, 0.32); }
  .modal .close {
    position: absolute;
    right: 4px;
    top: 3px;
    width: 24px;
    height: 24px;
    opacity: 0.32; }
  .modal .close:hover {
    opacity: 1; }
  .modal .close:before, .modal .close:after {
    position: absolute;
    left: 12px;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: #333; }
  .modal .close:before {
    transform: rotate(45deg); }
  .modal .close:after {
    transform: rotate(-45deg); }
  .modal .left, .modal .right {
    width: 50%;
    padding-top: 8px; }
  .modal .left {
    float: left; }
  .modal .left img {
    width: 86%;
    margin: 0 auto;
    display: block; }
  .modal .right {
    float: right; }
  .modal .right label {
    font-size: 1.1em;
    color: #0275d8;
    display: block;
    padding-bottom: 6px; }
  .modal .right p {
    font-size: 0.7em;
    color: #696969;
    padding-bottom: 6px; }
  .modal .right input {
    font-size: 1.0em;
    line-height: 1.4em;
    padding-left: 3px;
    border: 1px solid rgba(0, 0, 0, 0.32); }

.hint {
  font-size: 0.9em;
  color: #0275d8;
  padding-bottom: 6px; }

/*# sourceMappingURL=admin.css.map */
