{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Tomáš Dvořák - Architekti s.r.o.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Portfolio architekta Tomáše Dvořáka, který se věnuje stavebnictví od roku 1998, od
    roku 2003 samostatně navrhuje a realizuje stavby.">
    <meta name="keywords" content="architekti, řešení, tomáš, dvořák">
    <meta name="author" content="Pastemind">
	<meta property="og:title" content="Tomáš Dvořák - Architekti s.r.o.">
    <meta property="og:url" content="archtd.cz">
    <meta property="og:description" content="Ve stavebnictví pracuji od roku 1998, samostatně navrhujeme a realizujeme stavby od roku 2003.
        Nabízíme komplexní řešení na základě reálných zkušeností z postavených staveb.
        Nabízíme kreativní, moderní řešení a osobní přístup.
        Zajišťujeme projekční cyklus od studie po projekty pro provedení stavby.
    Zajišťujeme realizační cyklus, ve variantě generálního zhotovitele prací i ve variantě se subdodavateli.">

    <meta name="google-site-verification" content="Uzf6vuEQZ66mdtOmLl5CFOyRGBVSTibir_yoV-cB90A" />
	<link rel="stylesheet" href="{$basePath}/www/css/web/style.css">
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{$basePath}/www/js/nette.ajax.js"></script>
	<script src="{$basePath}/www/js/main.js"></script>
	<script src="{$basePath}/www/js/web-custom.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
