
    <a href="" id="close" class="close">×</a>
      <div class="galery">
          <header id="carousel" class="carousel slide carousel-fade">
               <div class="carousel-inner">
                  {foreach $data as $image}
                   <div class="item item-wrapper {first}active{/first}">
                    <img class="sizeit {$image->getImageClass()}" src="{$basePath}/www/photos/{$image->name}_{$image->width}.jpg" alt="{$image->alt}">
                   </div>
                  {/foreach}
               </div>
               <!-- Controls -->
                  <a class="left carousel-control" href="#carousel" data-slide="prev">
                      <span class="icon-prev"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel" data-slide="next">
                      <span class="icon-next"></span>
                  </a>
          </header>
      </div>
    <section class="text-panel">
        <h2 class="gallery_heading">{$text->cat_name}</h2>
        <p class="gallery_location">{$text->location}</p>
        <p class="gallery_year"> {$data[0]->year}</p>
        <p class="text">{$text->text}</p>
    </section>