{block content}
    <h2 class="heading">Přidat nového architekta</h2>
    {control architectForm}
    <h2 class="heading">Aktuální architekti:</h2>
    <div class="architects" n:foreach="$architects as $architect">
        <img class="photo_architects" src="{$basePath}/www/images/architects/{$architect->image}_221.jpg" alt="{$architect->name}">
        {* control architectUpdateForm-$architect->id *}


        <form class="info_architects" n:name="architectUpdateForm-$architect->id">
            <span class="row">
                <p>Jméno:</p>
                <input class="name_architects" n:name="name">
            </span>

            <span class="row">
                 <p>Fotografie:</p>
                <input class="upload_architects" n:name="image">
            </span>
            <span class="row">
                <textarea n:name="text"></textarea>
            </span>

            <span class="row">
                <input class="architects_button submit" n:name="submit">
                <a class="architects_button delete" onclick="return confirm('Opravdu chcete smazat architekta?')"
                 n:href="deleteArchitect! $architect->id">Smazat architekta</a>
            </span>
        </form>

    </div>
{/block}
