{* This is the welcome page, you can delete it *}
{* control imageForm:image $quality = 80, $sizes=[1024 => 576] *}
{* control imageForm $quality = 75, $sizes=[362 => 242] Form for adding images to references*}

{block content}
    <h2 class="heading">Správa referencí</h2>

    {control imageForm}
    <section class="images">
        <h2> Aktuální reference</h2>
        <div class="projekt" n:foreach="$images as $image">
            <span class="panel">
                  <a class="delete" onclick="return confirm('Opravdu chcete smazat referenci?')" n:href="deleteReference! $category_id = $image->category_id">​‌×</a>
                  <p class="name">{$image_info[$image->category_id]->cat_name}</p>
            </span>
            <a n:href="Homepage:detail $image->category_id">
                {foreach $sizes as $image_width => $min_width}
                 <img src="{$basePath}/www/photos/{$image->name}_{$image->width}.jpg"
                 alt="{$image->alt}"><!-- uvodni obrazek | Zde musí být srcset, podle komentáře níže-->
                {/foreach}
            </a>
        </div>
    </section>

{/block}