{block content}

    <h2 class="heading">Detail reference</h2>
    {control imageForm:update $category_id = $category_id}
    <section class="images">
        <div class="panel">

        </div>
        <div class="projekt" n:foreach="$images as $image">
            <div class="panel">
                <a class="delete" n:href="deleteImage! $id = $image->id">​‌×</a>
            </div>
            <a n:tag-if="$image->main == 0" n:href="changeMainImage! $id = $image->id">
                <img src="{$basePath}/www/photos/{$image->name}_{$image->width}.jpg" alt="{$image->alt}">
            </a>

        </div>
    </section>
{/block}