<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/www/css/admin/admin.css">
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
</head>

<body class="background">
{control adminForm}

</body>
</html>