<a n:foreach="$images as $image" n:href="click! $category_id = $image->category_id" class="ajax projekt">
    {foreach $sizes as $image_width => $min_width}
    <img src="{$basePath}/www/photos/{$image->name}_{$image->width}.jpg" alt="{$image->alt}"><!-- uvodni obrazek | Zde musí být srcset, podle komentáře níže-->
    {/foreach}
    <div class="panel"> <!-- zobrazuje se pri hoveru !-->
        <p class="name">{$image_info[$image->category_id]->cat_name}</p><!-- nazev projektu !-->
        <p class="location">{$image_info[$image->category_id]->location}</p> <!-- lokace!-->
        <p class="year">{$image->year}</p>
    </div>
</a>
<!-- TODO Třeba přidat img srcset a pak kontaktovat hlavního super programátora -->