<div class="row sort">
	<h3>Seřadit podle:</h3>
	<form n:name="form">
		<p n:foreach="$form['orderBy']->getItems() as $key => $item" >
			<input n:name="orderBy:$key" class="image-order">
			<label n:name="orderBy:$key">{$item}</label>
		</p>
	</form>
</div>