$font: 'Muli', sans-serif;

$lightgrey: #b0b0b0;
$darkgrey: #242424;
$blackbg: #101010;



// predelat tridy vice objektove, pro nadpisy jedna trida, pro kontent jedna trida

/*navigace*/
$navheight: 70px; //TODO prepocitat na em
$navcolor: rgba(21, 21, 21, 0.9);
$navlineheight: 4.38em;

/*Reference*/
$ref-minheight: 600px;

/*Content*/

$contentdesktop: 1148px;




