/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */


header {
  display: block;
}

[hidden],template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

img {
  border: 0;
}

@media print {
  *,  *:before,  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a,  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after,  a[href^="javascript:"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2,  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,  h3 {
    page-break-after: avoid;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img {
  line-height: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .carousel-inner > .item.next,  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  .carousel-inner > .item.prev,  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  .carousel-inner > .item.next.left,  .carousel-inner > .item.prev.right,  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-inner > .active,.carousel-inner > .next,.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 45%;
  width: 45px;
  height: 60px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.carousel-control.left {

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.right {
  right: 0;
  left: auto;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control:hover,.carousel-control:focus {
  color: white;
  text-decoration: none;
}

.carousel-control .icon-prev,.carousel-control .icon-next {
  position: absolute;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  font-size: 60px;
}

.carousel-control .icon-prev {
  left: 20%;
  text-shadow: 0 0 20px #000, 0 0 20px #000;
}

.carousel-control .icon-next {
  right: 20%;
  text-shadow: 0 0 20px #000, 0 0 20px #000;
}

.carousel-control .icon-prev,.carousel-control .icon-next {

  font-family: serif;
  line-height: 1;
}

.carousel-control .icon-prev:before {
  content: '\2039';
}

.carousel-control .icon-next:before {
  content: '\203a';
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  margin-right: 7px;
  background-color: rgba(0,0,0,0.65);
  border: 1px solid rgba(0,0,0,0.65);
  border-radius: 10px;
}

.carousel-indicators .active { /*Menší černější rgba(0,0,0,0.65) a výše*/
  width: 11px;
  height: 11px;
  margin-right: 7px;
  background-color: #c5c5c5;
  border: 1px solid #c5c5c5;
}

.carousel-caption {
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  width: 440px;
  height: 127px;
  left: 0;
  bottom: 20%;
  z-index: 10;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.blue-heading, .white-heading{
  margin-top: 10px;
  margin-left: 70px;
}
.blue-heading{
  color: #1d6ed2;
  font-size: 2em;
  font-weight: 600;
  margin-top: 14px;
}
.white-heading{
  color: white;
  font-size: 1.4em;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {

  .carousel-caption {
    width: 365px !important;
    bottom: 12.5% !important;

  }
  .blue-heading, .white-heading{
    margin-left: 30px !important;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

@media screen and (max-width: 440px){
  .carousel-caption{
    width: 100% !important;
    height: 97px !important;
  }
  .blue-heading{
    font-size: 1.6em !important;
  }
  .white-heading{
    font-size: 1.2em !important;
  }
  .blue-heading, .white-heading {
    margin-top: 5px !important;
  }
}

.container:before,.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

html,
body {
  height: 100%;
}

.carousel,
.item,
.active {
  height: auto;
}



.carousel-inner {
  height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.item {
  display: none;
  position: relative;
}

.item-wrapper{
  width: 100%;
  min-height: 644px;
}

.landscape, .portrait{
  margin: 0 auto;
}
.landscape{
  width: 1144px !important;
  height: 644px !important;
}
.portrait{
  width: auto !important;
  height: 644px !important;
}


