@import url(../reset.css);
@import url(../web/carousel.css);
/*navigace*/
/*Reference*/
/*Content*/
html, body {
  font-family: "Muli", sans-serif; }

.section-heading, #aboutus h2, #reference h2, #atelier h2, #contact h2 {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 36px 0 16px 0; }
  @media screen and (max-width: 768px) {
    .section-heading, #aboutus h2, #reference h2, #atelier h2, #contact h2 {
      font-size: 1.6em !important;
      padding: 28px 0 12px 0 !important; } }

.content, #atelier {
  width: 1148px;
  margin: 0 auto;
  padding: 32px 0 32px 0;
  height: auto !important;
  overflow: auto; }
  @media screen and (max-width: 1320px) {
    .content, #atelier {
      width: auto !important;
      margin: 0 15px 0 15px; } }
  @media screen and (max-width: 768px) {
    .content, #atelier {
      padding: 22px 0 22px 0 !important; } }

#container {
  width: 100%;
  height: auto; }

#aboutus, #reference, #atelier, #contact {
  width: 100%;
  padding-bottom: 64px; }
  @media screen and (max-width: 768px) {
    #aboutus, #reference, #atelier, #contact {
      padding-bottom: 36px; } }

#aboutus {
  background: #fff; }
  #aboutus .content, #aboutus #atelier {
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0; }
  #aboutus h2 {
    color: #242424; }
  #aboutus p {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.25em;
    color: #242424;
    font-weight: 300; }
  @media screen and (max-width: 1600px) {
    #aboutus p {
      font-size: 1.3em !important;
      line-height: 1.15em !important; } }
  @media screen and (max-width: 768px) {
    #aboutus p {
      font-size: 1.1em !important; } }

#reference {
  min-height: 600px;
  height: auto;
  background-color: #101010;
  position: relative; }
  #reference .content, #reference #atelier {
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424; }
  #reference h2 {
    color: white; }
  #reference .panel {
    float: right;
    margin-top: -242px;
    display: block;
    width: 140px;
    height: 100%;
    transition: 300ms;
    padding-left: 15px; }
  #reference a.projekt {
    display: block;
    float: left;
    width: 362px;
    height: 242px;
    transition: 300ms;
    margin-right: 30px;
    overflow: hidden;
    margin-bottom: 30px; }
    @media (max-width: 1280px) {
      #reference a.projekt {
        margin-bottom: 15px; } }
    #reference a.projekt:nth-child(3n) {
      margin-right: 0; }
    #reference a.projekt img {
      float: left;
      width: inherit !important;
      height: inherit !important; }
    #reference a.projekt span {
      float: right;
      margin-top: -242px;
      display: block;
      width: 140px;
      height: 100%;
      transition: 300ms;
      background: rgba(16, 16, 16, 0); }
  #reference a.projekt:hover .panel {
    transition: 500ms;
    background: rgba(16, 16, 16, 0.55); }
  #reference a.projekt:hover .year, #reference a.projekt:hover .name, #reference a.projekt:hover .location {
    opacity: 1; }
  #reference .name {
    margin-top: 18px; }
  #reference .name, #reference .location {
    color: white; }
  #reference .year {
    color: #429aff; }
  #reference .name, #reference .location, #reference .year {
    opacity: 0;
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.25em; }
  #reference .sort {
    overflow: hidden;
    margin-bottom: 30px; }
    #reference .sort h3, #reference .sort p {
      float: left;
      color: white; }
    #reference .sort h3 {
      font-size: 1.3em;
      line-height: 1.1em; }
    #reference .sort p {
      font-size: 1.1em;
      line-height: 1.5em;
      margin-left: 30px; }
      @media (max-width: 400px) {
        #reference .sort p {
          margin-left: 10px !important; } }
    #reference .sort form {
      overflow: hidden; }
    #reference .sort [type="radio"]:checked,
    #reference .sort [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px; }
    #reference .sort [type="radio"]:checked + label,
    #reference .sort [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #fff; }
    #reference .sort [type="radio"]:checked + label:before,
    #reference .sort [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 3px;
      width: 14px;
      height: 14px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: transparent; }
    #reference .sort [type="radio"]:checked + label:after,
    #reference .sort [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 8px;
      height: 8px;
      background: #429aff;
      position: absolute;
      top: 6px;
      left: 8px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #reference .sort [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0); }
    #reference .sort [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
  @media screen and (max-width: 1280px) {
    #reference a.projekt {
      margin-right: 15px !important; }
      #reference a.projekt:nth-child(3n) {
        margin-right: 15px !important; }
      #reference a.projekt:nth-child(2n) {
        margin-right: 0 !important; }
    #reference .content, #reference #atelier {
      width: 740px !important;
      height: auto;
      margin: 0 auto !important; } }
  @media screen and (max-width: 790px) {
    #reference .content, #reference #atelier {
      width: 362px !important; }
    #reference a.projekt {
      margin-right: 0 !important; }
      #reference a.projekt:nth-child(3n) {
        margin-right: 0 !important; }
      #reference a.projekt:nth-child(2n) {
        margin-right: 0 !important; } }
  @media screen and (max-width: 400px) {
    #reference .content, #reference #atelier {
      width: 300px !important; }
    #reference a.projekt {
      width: 300px !important;
      height: 169px !important; }
    #reference a.projekt > img {
      width: 100% !important;
      height: 100% !important; }
    #reference span {
      display: none !important; } }

.navigation {
  display: block;
  height: 70px;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.9);
  box-sizing: border-box !important; }
  @media screen and (min-width: 1330px) {
    .navigation {
      padding: 0 160px 0 160px; } }
  @media screen and (max-width: 680px) {
    .navigation {
      height: 85px !important; } }
  .navigation h1 {
    display: block;
    float: left;
    line-height: 4.38em;
    font-size: 1em;
    font-weight: bold;
    color: white; }
    @media screen and (max-width: 680px) {
      .navigation h1 {
        line-height: 3em; } }
  .navigation h2 {
    display: block;
    float: left;
    line-height: 4.38em;
    font-size: 1em;
    font-weight: bold;
    color: white; }
    @media screen and (max-width: 680px) {
      .navigation h2 {
        line-height: 50px !important; } }
  @media screen and (max-width: 1330px) {
    .navigation {
      padding: 0 20px 0 20px; } }
  .navigation ul {
    display: inline-block;
    float: right;
    line-height: 4.38em; }
    @media screen and (max-width: 680px) {
      .navigation ul {
        float: left !important;
        line-height: 20px !important;
        clear: both !important; } }
  .navigation li {
    display: inline-block;
    margin-right: 36px; }
    @media screen and (max-width: 680px) {
      .navigation li {
        margin-right: 20px !important; } }
  .navigation li:last-of-type {
    margin-right: 0; }
  .navigation li > a {
    text-decoration: none;
    color: white;
    transition: 400ms; }
  .navigation li > a:hover {
    color: #1d6ed2; }

#atelier h2 {
  color: black; }
#atelier .profile {
  height: auto;
  overflow: hidden;
  margin-top: 50px; }
  #atelier .profile:first-of-type {
    margin-top: 0px; }
  #atelier .profile img {
    width: 221px;
    height: 221px;
    border: 1px solid #b0b0b0;
    float: left;
    margin-right: 80px; }
  #atelier .profile h3 {
    color: #1d6ed2;
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: 700; }
  #atelier .profile p {
    line-height: 1.2em;
    font-size: 1.15em;
    font-weight: 300;
    display: block;
    margin-top: 11px; }
  @media screen and (max-width: 768px) {
    #atelier .profile img {
      margin-right: 40px !important; } }
  @media screen and (max-width: 540px) {
    #atelier .profile p, #atelier .profile h3 {
      clear: both !important; }
    #atelier .profile h3 {
      line-height: 2em !important; }
    #atelier .profile p {
      margin-top: 0px !important; } }
#atelier .content, #atelier #atelier {
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0; }

#contact {
  background: #101010;
  height: auto; }
  #contact .content, #contact #atelier {
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424; }
  #contact h2 {
    color: white; }
  #contact article {
    width: 40%;
    float: left; }
  #contact article > .row {
    display: block;
    width: 100%;
    overflow: hidden; }
  #contact .headingof, #contact .info {
    font-size: 1.15em;
    line-height: 1.4em; }
  #contact .headingof {
    color: #1d6ed2;
    display: block;
    padding: 0 10px 0 0;
    float: left; }
  #contact .info {
    color: white;
    float: left; }
    #contact .info a {
      text-decoration: none;
      color: white; }
  #contact #map {
    height: 327px;
    width: 546px;
    float: right; }
  @media screen and (max-width: 1024px) {
    #contact #map {
      display: none; }
    #contact article {
      width: 100% !important; } }
  @media screen and (max-width: 380px) {
    #contact .info {
      clear: both !important; }
    #contact .headingof, #contact .info {
      line-height: 1.2em !important; }
    #contact .headingof {
      padding: 6px 10px 0 0; } }

#myCarousel .carousel-inner img {
  background: center;
  width: 100%;
  height: auto; }

.fill, .arch, .design, .inter, .rekon, .urban {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.arch {
  background-image: url("../../images/slider/Architektura.jpg"); }

.design {
  background-image: url("../../images/slider/Design.jpg"); }

.inter {
  background-image: url("../../images/slider/Interier.jpg"); }

.rekon {
  background-image: url("../../images/slider/Rekonstrukce.jpg"); }

.urban {
  background-image: url("../../images/slider/Urbanismus.jpg"); }

@media screen and (max-width: 1024px) {
  .arch {
    background-image: url("../../images/slider/Architektura_1024.jpg"); }

  .design {
    background-image: url("../../images/slider/Design_1024.jpg"); }

  .inter {
    background-image: url("../../images/slider/Interier_1024.jpg"); }

  .rekon {
    background-image: url("../../images/slider/Rekonstrukce_1024.jpg"); }

  .urban {
    background-image: url("../../images/slider/Urbanismus_1024.jpg"); } }
.item {
  display: none;
  position: relative; }

.snippet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e0e0e;
  z-index: 999; }
  .snippet .close {
    display: block;
    position: absolute;
    right: 10px;
    color: #ef4836;
    font-size: 3.5em;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer; }
  .snippet .galery {
    float: left;
    width: 60%;
    max-width: 1144px;
    height: auto;
    position: relative;
    top: 15%;
    left: 10%; }
    @media (max-height: 768px) {
      .snippet .galery {
        top: 7% !important; } }
  .snippet .text-panel {
    width: 300px;
    height: 100%;
    float: right;
    background-color: black; }
    .snippet .text-panel .text {
      position: relative;
      top: 300px;
      color: white;
      text-align: left;
      padding: 0 25px 0 25px;
      font-size: 1.2em;
      line-height: 1.5em;
      font-weight: 300; }
  @media screen and (max-width: 1220px) {
    .snippet .galery {
      left: 7% !important; } }
  @media screen and (max-width: 1200px) {
    .snippet .galery {
      width: 80% !important;
      top: 0 !important;
      left: 9% !important; }
    .snippet .text-panel {
      width: 100% !important;
      height: 100% !important;
      float: left !important;
      clear: both !important; }
    .snippet .text {
      top: 0 !important;
      text-align: left !important; }
    .snippet .close {
      top: 0 !important;
      right: 15px !important; } }
  @media screen and (max-width: 880px) {
    .snippet .close {
      z-index: 100 !important;
      height: 48px !important;
      font-size: 3em !important; }
    .snippet .text {
      line-height: 1.2em !important;
      font-size: 1em !important; } }

@media screen and (min-width: 320px) and (max-width: 991px) and (orientation: landscape) {
  .snippet .galery {
    width: 100% !important;
    left: 0 !important;
    height: 100% !important; }

  .landscape {
    width: 100% !important;
    height: auto !important; }

  .portrait {
    height: 100% !important;
    width: auto !important; }

  .item-wrapper {
    min-height: 0 !important; } }
@media screen and (min-width: 320px) and (max-width: 991px) and (orientation: portrait) {
  .snippet .galery {
    width: 100% !important;
    left: 0 !important;
    height: auto !important; }

  .item-wrapper {
    min-height: 0 !important; }

  .landscape {
    width: 100% !important;
    height: auto !important; }

  .portrait {
    height: 100% !important;
    width: auto !important; } }

/*# sourceMappingURL=style.css.map */
