@import "../reset.css";
@import "../web/carousel.css";
@import "_vars.scss";
html,body{
  font-family: $font;
}
.section-heading{
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 36px 0 16px 0;
  @media screen and (max-width: 768px) {
    font-size: 1.6em !important;
    padding: 28px 0 12px 0 !important;
  }
}
.content{
  width: $contentdesktop;
  margin: 0 auto;
  padding: 32px 0 32px 0;
  height: auto !important;
  overflow: auto;
  @media screen and (max-width: 1320px) {
    width: auto !important;
    margin: 0 15px 0 15px;
    
  }
  @media screen and (max-width: 768px){
    padding: 22px 0 22px 0 !important;
  }
}
#container{
  width: 100%;
  height: auto;
}

#aboutus, #reference, #atelier, #contact{
  width: 100%;
  padding-bottom: 64px;
  @media screen and (max-width: 768px){
    padding-bottom: 36px;
  }
}

#aboutus{
  background: #fff;
  .content{
    border-top: 1px solid $lightgrey;
    border-bottom: 1px solid $lightgrey;
  }
  h2{
    @extend .section-heading;
    color: $darkgrey;
  }
  p{
    text-align: center;
    font-size: 1.5em;
    line-height:1.25em;
    color: $darkgrey;
    font-weight: 300;
  }
  @media screen and(max-width: 1600px){
    p{
      font-size: 1.3em !important;
      line-height: 1.15em !important;
    }
  }
  @media screen and(max-width: 768px){
    p{
      font-size: 1.1em !important;
    }
  }
}

#reference {
  min-height: $ref-minheight;
  height: auto;
  background-color: $blackbg;
  position: relative;
  .content {
    border-top: 1px solid $darkgrey;
    border-bottom: 1px solid $darkgrey;
  }
  h2 {
    @extend .section-heading;
    color: white;
  }
  .panel{
    float: right;
    margin-top: -242px;
    display: block;
    width: 140px;
    height: 100%;
    transition: 300ms;
    padding-left: 15px;
  }
  a.projekt {
    display: block;
    float: left;
    width: 362px;
    height: 242px;
    transition: 300ms;
    margin-right: 30px;
    overflow: hidden;
    margin-bottom: 30px;
    @media (max-width: 1280px) {
      margin-bottom: 15px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
    img {
      float: left;
      width: inherit !important;
      height: inherit !important;
    }
    span {
      float: right;
      margin-top: -242px;
      display: block;
      width: 140px;
      height: 100%;
      transition: 300ms;
      background: rgba(16, 16, 16, 0.00);
    }
  }
  a.projekt:hover{
    .panel {
      transition: 500ms;
      background: rgba(16, 16, 16, 0.55);
    }
  }
  a.projekt:hover .year, a.projekt:hover .name, a.projekt:hover .location {
    opacity: 1;
  }
  .name {
    margin-top: 18px;

  }
  .name, .location {
    color: white;
  }
  .year {
    color: #429aff;
  }
  .name, .location, .year {
    opacity: 0;
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.25em;
  }
  .sort{
    overflow: hidden;
    margin-bottom: 30px;
      h3, p{
        float: left;
        color: white;
      }
      h3{
        font-size: 1.3em;
        line-height: 1.1em;
      }
      p{
        font-size: 1.1em;
        line-height: 1.5em;
        margin-left: 30px;
        @media (max-width: 400px){
          margin-left: 10px !important;
        }
      }
    form{
      overflow: hidden;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #fff;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 3px;
      width: 14px;
      height: 14px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: transparent;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 8px;
      height: 8px;
      background: #429aff;
      position: absolute;
      top: 6px;
      left: 8px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  }

  @media screen and (max-width: 1280px){
    a.projekt{
      margin-right: 15px !important;
      &:nth-child(3n) {
        margin-right: 15px !important;
      }
      &:nth-child(2n) {
        margin-right: 0 !important;
      }
    }
    .content{
      width: 740px !important;
      height: auto;
      margin: 0 auto !important;
    }
  }

  @media screen and (max-width: 790px){
    .content{
      width: 362px !important;
    }
    a.projekt{
      margin-right: 0 !important;
      &:nth-child(3n) {
        margin-right: 0 !important;
      }
      &:nth-child(2n) {
        margin-right: 0 !important;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .content{
      width: 300px !important;
    }
    a.projekt{
      width: 300px !important;
      height: 169px !important;
    }
    a.projekt > img{
      width: 100% !important;
      height: 100% !important;
    }
    span{
      display: none !important;
    }
  }
}

.navigation {
    display: block;
    height: $navheight;
    width: 100%;
    background-color: $navcolor;
    box-sizing: border-box !important;
    @media screen and (min-width: 1330px) {
      padding: 0 160px 0 160px;
    }
    @media screen and(max-width: 680px) {
      height: 85px !important;
    }

    h1{
      display: block;
      float: left;
      line-height: 4.38em;
      font-size: 1em;
      font-weight: bold;
      color: white;
      @media screen and (max-width: 680px) {
        line-height: 3em;
      }
    }

    h2 {
      display: block;
      float: left;
      line-height: $navlineheight;
      font-size: 1em;
      font-weight: bold;
      color: white;
      @media screen and (max-width: 680px) {
        line-height: 50px !important;

      }
    }
    @media screen and (max-width: 1330px) {
      padding: 0 20px 0 20px;
    }
    ul {
      display: inline-block;
      float: right;
      line-height: $navlineheight;
      @media screen and (max-width: 680px) {
        float: left !important;
        line-height: 20px !important;
        clear: both !important;
      }

    }
    li {
      display: inline-block;
      margin-right: 36px;
      @media screen and (max-width: 680px) {
        margin-right: 20px !important;

      }
    }
    li:last-of-type {
      margin-right: 0;
    }
    li > a {
      text-decoration: none;
      color: white;
      transition: 400ms;
    }
    li > a:hover {
      color: #1d6ed2;

    }
  }

  #atelier {
    @extend .content;
    h2 {
      @extend .section-heading;
      color: black;
    }
    .profile {
      height: auto;
      overflow: hidden;
      margin-top: 50px;
      &:first-of-type {
        margin-top: 0px;
      }
      img {
        width: 221px;
        height: 221px;
        border: 1px solid $lightgrey;
        float: left;
        margin-right: 80px;
      }
      h3 {
        color: #1d6ed2;
        font-size: 1.4em;
        line-height: 1.2em;
        font-weight: 700;
      }
      p {
        line-height: 1.2em;
        font-size: 1.15em;
        font-weight: 300;
        display: block;
        margin-top: 11px;

      }
      @media screen and (max-width: 768px) {
        img {
          margin-right: 40px !important;
        }
      }
      @media screen and (max-width: 540px) {
        p, h3 {
          clear: both !important;
        }
        h3 {
          line-height: 2em !important;
        }
        p {
          margin-top: 0px !important;
        }
      }
    }
    .content {
      border-top: 1px solid $lightgrey;
      border-bottom: 1px solid $lightgrey;
    }
  }
  #contact {
    background: $blackbg;
    height: auto;

    .content {
      border-top: 1px solid $darkgrey;
      border-bottom: 1px solid $darkgrey;
    }
    h2 {
      @extend .section-heading;
      color: white;
    }
    article {
      width: 40%;
      float: left;
    }
    article > .row {
      display: block;
      width: 100%;
      overflow: hidden;
    }
    .headingof, .info {
      font-size: 1.15em;
      line-height: 1.4em;
    }
    .headingof {
      color: #1d6ed2;
      display: block;
      padding: 0 10px 0 0;
      float: left;
    }

    .info {
      color: white;
      float: left;
      a {
        text-decoration: none;
        color: white;
      }
    }
    #map {
      height: 327px;
      width: 546px;
      float: right;
    }
    @media screen and (max-width: 1024px) {
      #map {
        display: none;
      }
      article {
        width: 100% !important;
      }
    }
    @media screen and (max-width: 380px) {
      .info {
        clear: both !important;
      }
      .headingof, .info {
        line-height: 1.2em !important;
      }
      .headingof {
        padding: 6px 10px 0 0;

      }
    }
  }

  #myCarousel{
    .carousel-inner img{
      background: center;
      width: 100%;
      height: auto;
    }
  }

  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  }
  .arch, .design, .inter, .rekon, .urban {
    @extend .fill;
  }
  .arch {
    background-image: url('../../images/slider/Architektura.jpg');
  }
  .design {
    background-image: url('../../images/slider/Design.jpg');
  }
  .inter {
    background-image: url('../../images/slider/Interier.jpg');
  }
  .rekon {
    background-image: url('../../images/slider/Rekonstrukce.jpg');
  }
  .urban {
    background-image: url('../../images/slider/Urbanismus.jpg');
  }

  @media screen and (max-width: 1024px) {
    .arch {
      background-image: url('../../images/slider/Architektura_1024.jpg');
    }
    .design {
      background-image: url('../../images/slider/Design_1024.jpg');
    }
    .inter {
      background-image: url('../../images/slider/Interier_1024.jpg');
    }
    .rekon {
      background-image: url('../../images/slider/Rekonstrukce_1024.jpg');
    }
    .urban {
      background-image: url('../../images/slider/Urbanismus_1024.jpg');
    }
  }
  .item {
    display: none;
    position: relative;
  }
  .snippet{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    z-index: 999;
    .close{
      display: block;
      position: absolute;
      right: 10px;
      color: rgb(239,72,54);
      font-size: 3.5em;
      font-weight: 300;
      text-decoration: none;
      cursor: pointer;

    }
    .galery{
      float: left;
      width: 60%;
      max-width: 1144px;
      height: auto;
      position: relative;
      top: 15%;
      left: 10%;
      @media (max-height: 768px){
        top: 7% !important;
      }
    }
    .text-panel{
      width: 300px;
      height: 100%;
      float: right;
      background-color: black;
      .text{
        position: relative;
        top: 300px;
        color: white;
        text-align: left;
        padding: 0 25px 0 25px;
        font-size: 1.2em;
        line-height: 1.5em;
        font-weight: 300;
      }
    }

    @media screen and(max-width: 1220px){
      .galery{
        left: 7% !important;
      }
    }
    @media screen and (max-width: 1200px) {
      .galery{
        width: 80% !important;
        top: 0 !important;
        left: 9% !important;
      }
      .text-panel{
        width: 100% !important;
        height: 100% !important;
        float: left !important;
        clear: both !important;
      }
      .text{
        top: 0 !important;
        text-align: left !important;
      }
      .close{
        top: 0 !important;
        right: 15px !important;
      }
    }
    @media screen and (max-width: 880px) {

      .close{
        z-index: 100 !important;
        height:48px !important;
        font-size: 3em !important;

      }
      .text{
        line-height: 1.2em !important;
        font-size: 1em !important;
      }
      
    }

  }

@media screen and (min-width : 320px) and (max-width : 991px) and (orientation :landscape){
  .snippet .galery{
    width: 100% !important;
    left: 0 !important;
    height: 100% !important;
  }
  .landscape{
    width: 100% !important;
    height: auto !important;
  }
  .portrait{
    height: 100% !important;
    width: auto !important;
  }

  .item-wrapper{
    min-height: 0 !important;
  }

}
@media screen and (min-width : 320px) and (max-width : 991px) and (orientation :portrait){
  .snippet .galery{
    width: 100% !important;
    left: 0 !important;
    height: auto !important;
  }
  .item-wrapper{
    min-height: 0 !important;
  }
  .landscape{
    width: 100% !important;
    height: auto !important;
  }
  .portrait{
    height: 100% !important;
    width: auto !important;
  }

}

