<div class="modal-wrapper" role="dialog" id="modal-wrapper-{$titlePhotoId}" style="display: none;">
	<div class="modal">
		<!--Tlacitko na zavreni modalu !-->
		<a href="" class="close close-modal" data-modal-id="{$titlePhotoId}"></a>
		<h2 class="modal-heading">Upravit úvodní fotografii:</h2>
		<hr>
		<div class="left">
			<!--Tady bude obrazek reference!-->
			<img class="cross-icon" src="{$basePath}/www/titlePhotos/{$titlePhoto->getName()}">
		</div>
		<div class="right">
			<label for="">Název fotografie:</label>
			<p>Tip: Zvolte nejlépe jednoslovný název</p>
			<form n:name="form">
				<input n:name="title" type="text">

				<!--Tlacitko na odeslani zmen!-->
				<input n:name="submit" class="edit">
			</form>
		</div>
	</div>
</div>