<div class="architects">
    <form class="info_architects" n:name="architectForm">
        <span class="row">
             <p>Jméno:</p>
             <input class="name_architects" n:name="name">
        </span>
        <span class="row">
            <p class="note">Poznámka: Používejte fotografie v poměru 1:1</p>
        </span>
        <span class="row">
            <p>Fotografie:</p>
            <input class="upload_architects" n:name="image">
        </span>
        <span class="row">
            <textarea n:name="text"></textarea>
        </span>

        <label><input class="architects_button submit" n:name="submit"></label>
    </form>
</div>