{block content}

<form class="form" n:name="titlePhotoForm">

	<div n:foreach="$form->getErrors() as $error">
		<div class="flash-message danger">{$error}</div>
	</div>
	<h2 class="heading">Titulní fotky</h2>
	<div class="row">
	  <div class="left photos">
    <p class="hint">Tip: Nahrávejte pouze obrázky v poměru 16:9</p>
    {input titlePhotos}
    </div>
	</div>

  <div class="row">
    {label upload}
    {input upload, class => 'submit offset-top'}
	</div>
</form>
<div>
	<h2 class="heading">Aktuální titulní fotky</h2>
	<div class="photo-card-wrapper sortable" data-link="{link changePhotoOrder!}">
	  <!--tady!-->
    <div class="title-photo-card" id="{$titlePhoto->getId()}" n:foreach="$titlePhotos as $titlePhoto">
      <div class="row-icon">
        <img class="cross-icon" src="{$basePath}/www/images/admin/crossroads.svg">
      </div>
      <div class="row-image">
        <img src="{$basePath}/www/titlePhotos/{$titlePhoto->getName()}" >
      </div>
      <div class="row-description">
        <h2 class="popisek">Název fotografie:</h2>
		  {var $title = $titlePhoto->getTitle()? $titlePhoto->getTitle(): "BEZ POPISKU"}
        <p>{$title}</p>
      </div>
      <a href="#" class="edit open-modal" data-modal-id="{$titlePhoto->getId()}">UPRAVIT</a>
      <a n:href="deleteTitlePhoto!, id => $titlePhoto->getId()" onclick="return confirm('Opravdu chcete smazat tuto úvodní fotku?')" class="delete">SMAZAT</a>
    </div>
     <!--az sem!-->
	</div>
</div>

{foreach $titlePhotos as $titlePhoto}
	{var $id = $titlePhoto->getId()}
	{control titlePhotoDescriptionForm-$id}
{/foreach}